<div id="Networking-groupPanel" class="Networking-groupPanel" ng-show="groupPanelBoolean" ng-class="{'Networking-groupPanel--expanded' : vm.rightPanelIsExpanded}">
    <div id="Networking-groupPanelHeader" class="Networking-groupPanelHeader" ng-if="groupPanelBoolean">
        <div class="Networking-groupPanelTitle">
            GROUPS
        </div>
        <button ng-click="hideGroupsPanel()" type="button" class="Networking-GroupsPanelClose close">
            <i class="fa fa-times-circle"></i>
        </button>
    </div>
    <div class="Networking-groupPanelOption" ng-repeat="group in vm.groups_on_screen" ng-click="selctGroup(group)" ng-class="{'Networking-groupPanelOption--selected' : group.selected}">
        <div class="Networking-keySymbol" ng-style="{'background-color':group.color}"></div>
        <div class="Networking-keySymbolLabel">{{group.name}}</div>
    </div>
</div>
